doctype html 
html 
	head 
		title New Transaction
		meta(charset="ASCII")
	body 
	p Please enter required values in all fields before hitting "Submit"

	form(action="/view/finTx", method="post") 
		label(for="address") Your public address
		<br/>
		input(type="text" name="address" size="50" required)
		<br/>
		label(for="utxoPWif") Your private key in Wif-Format
		<br/>
		input(type="text" name="utxoPWif" size="64" required)
		<br/>
		label(for="changeAddr") Address to send remaining change to
		<br/>
		input(type="text" name="changeAddr" size="50" required)
		<br/>
		label(for="msg") Your message/data to send
		<br />
		textarea(name="msg", cols="30", rows="10" required)
		<br />
		input(type="submit", value="Create new transaction")

