doctype html 
html 
	head 
		title New Transaction
		meta(charset="ASCII")
	body 
	p Please enter required values in all fields before hitting "Submit"

	form(action="/views/finTx", method="post") 
		label(for="address") Your public address
		<br />
		input(type="text" name="address" size="50" required)
		<br />
		label(for="utxoPWif") Your private key in Wif-Format
		<br />
		input(type="text" name="utxoPWif" size="64" required)
		<br />
		label(for="msg") 
			| Your message/data to send: <br />
			| Please use format (csv); "firm","supplier",caught,bought,sold,"buyer"
			| <br /> Make sure to include the quotation marks.
		<br />
		textarea(name="msg", cols="30", rows="10" required)
		<br />
		input(type="submit", value="Create new transaction")

