doctype html 
html 
	head 
		title BSV tools
	body 
		div 
			h1 BSV Project 
			p
			| This is a simple project that allows the user to <br />
			| easily create new transaction and view them after. <br /> <br />
			| The tools currently only work on the Bitcoin SV testnet.
		div 
			h2 Tools 
			a(href='./views/autoNewTx') Tool for creating new transactions
			<br />
			a(href='./views/viewHistory') Displays previous transaction IDs
			<br />
			a(href='./views/viewTx') Tool for viewing previous transactions
