doctype html 
html 
	head 
		title BSV tools
	body 
		div 
			h1 BSV Project 
			p
			| This is a simple project that allows the user <br />
			| to easily create new transaction and view them after.
		div 
			h2 Tools 
			a(href='./views/newTx') Tool for creating new transactions
			<br />
			a(href='./views/viewTx') Tool for viewing previous transactions